/* color classes */
.bg-cyan {
	background-color: #005A5F;
}
.bg-green-blue {
	background-color: #95D4C5;
}
.bg-white-gray {
	background-color: #005A5F;
}
.bg-orange {
	background-color: #F89C3E;
}
.bg-yellow {
	background-color: #FFCD5B;
}
.bg-white {
	background-color: white;
}
.cyan {
	color: #005A5F;
}
.green-blue {
	color: #95D4C5;
}
.white-gray {
	color: #005A5F;
}
.orange {
	color: #F89C3E;
}
.yellow {
	color: #FFCD5B;
}
/* Overrides */
.in, .out {
    
}
h3 {
	padding-top: 25px;
	margin: 0px;
}
/* Global tags */
ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
label {
	text-align: right;
	margin: 0px !important;
}
/* class */
.main-center {
	vertical-align: middle;
	margin-top: 50%;
    text-align: center;
}
.center {
	text-align: center;
}
.center-margin {
	margin: auto;
	margin-top: 20%;
}
.right {
	float: left;
}
.left {
	float: right;
}
.clearfix {
	overflow: auto;
}
.hundred {
	width: 100%;
	height: 100%;
}
.nav-section {
	height: 50%;
	width: 50%;
}
.hide {
	display: none;
}
.link-plain {
	text-decoration: none;
	color: inherit;
}
.load-blank {
	width: 100%;
	height: 100%;
	background: #2160a7; /* Old browsers */
	background: -moz-linear-gradient(top,  #2160a7 0%, #f8a048 0%, #006e74 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2160a7), color-stop(0%,#f8a048), color-stop(100%,#006e74)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2160a7 0%,#f8a048 0%,#006e74 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2160a7 0%,#f8a048 0%,#006e74 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2160a7 0%,#f8a048 0%,#006e74 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2160a7 0%,#f8a048 0%,#006e74 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2160a7', endColorstr='#006e74',GradientType=0 ); /* IE6-9 */
}
.load-img {

}
.login-input {
	border-radius: 50px;
	width: 60%;
	height: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.nav {
	background-image: url("../img/nav.gif");
	background-size: 100% auto;
	position: fixed;
	height: 30%;
	width: 100%;
}
.display {
	position: fixed;
	overflow: scroll;
	margin-top: 53.5%;
	height: 50%;
}
.footer {
	position: absolute;
	width: 100%;
	bottom: 0px;
}
/* ids */
#logo {
	width: 90%;
	height: 35%;
}
#new_user {
	color: black; 
	font-size: 12px; 
	font-weight: normal; 
	text-shadow: none; 
	float: right; 
	margin-right: 23%;
}
