/* variables */
:root {
	--main-cyan: #005A5F;
	--main-green-blue: #95D4C5;
	--main-white-gray: #005A5F;
	--main-orange: #F89C3E;
	--main-yellow: #FFCD5B;
}
.cyan {
	color: #005A5F;
}
.green-blue {
	color: #95D4C5;
}
.white-gray {
	color: #005A5F;
}
.orange {
	color: #F89C3E;
}
.yellow {
	color: #FFCD5B;
}
/* Overrides */
.in, .out {
    
}
/* Global tags */
body {
    background-color: lightgray;
}

ul {
	list-style: none;
	padding: 0px;
}

label {
	text-align: right;
	margin: 0px !important;
}

/* class */
.main-center {
	vertical-align: middle;
	margin-top: 50%;
    text-align: center;
}
.center {
	text-align: center;
}
.center-margin {
	margin: auto;
	margin-top: 15%;
}
.hide {
	display: none;
}
.link-plain {
	text-decoration: none;
	color: inherit;
}
.nav-section {
	height: 50%;
	width: 50%;
}
.right {
	float: left;
}
.left {
	float: right;
}
.clearfix {
	overflow: auto;
}
.nav {
	background-image: url("../img/nav.gif");
	background-size: 100% auto;
	position: fixed;
	height: 30%;
	width: 100%;
}
.display {
	position: fixed;
	overflow: scroll;
	margin-top: 53.5%;
	height: 50%;
}
.footer {
	position: absolute;
	width: 100%;
	bottom: 0px;
}
/* ids */
